<footer>
    <div>
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i><br>
            <i class="fa-brands fa-square-instagram"></i><br>
            <i class="fa-brands fa-linkedin"></i><br>
        </div>

        <div class="f-info-brand">&copy; WayfarerHaven Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a><br>
            <a href="/terms">Terms</a><br>
        </div>
    </div>
</footer>